.box {
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
  background: #1a1a1a;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
}

.box:hover .image img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.box .image {
  height: 25rem;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
}

.box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.box .content .icons {
  position: relative;
  top: -1rem;
  border-radius: 0.5rem;
  padding: 1.5rem;
  display: inline-block;
  background: #0d0d0d;
}

.box .content .icons a {
  font-size: 1.4rem;
  margin: 0 1rem;
  color: #fff;
}

.box .content .icons a:hover {
  color: crimson;
}

.box .content .icons a i {
  padding-right: 0.5rem;
  color: crimson;
}

.box .content h3 {
  font-size: 2rem;
  color: #fff;
  font-weight: normal;
}

.box .content p {
  font-size: 1.5rem;
  color: #aaa;
  padding: 1rem 0;
  line-height: 2;
}
