.heading {
  text-align: center;
  font-size: 6vw;
  color: #fff;
  margin-bottom: 3rem;
  text-transform: uppercase;
}
.headingmini {
  text-align: center;
  font-size: 2vw;
  color: #fff;
  margin-bottom: 3rem;
  text-transform: uppercase;
}
.headingmini span{
  text-transform: uppercase;
  color: crimson;
}

.heading span {
  text-transform: uppercase;
  color: crimson;
}
