<!-- <div class="container-menu">
      <input type="checkbox" id="btn-mas">
      <div class="redes">
            <a (click)="navigate()">LogOut</a>
      </div>
      <div class="btn-mas">
            <label for="btn-mas" class="fa fa-plus"></label>
      </div>
</div> -->
<header class="header">

      <a href="#" class="logo">
            <img src="../../../../assets/redragon.jpeg" alt="">
      </a>
      <nav class="navbar">   
            <a>Agregar</a>
            <a (click)="navigate()"class="logout">LogOut</a>
      </nav>

      

</header>