// #btn-mas {
//   display: none;
// }
// .container-menu {
//   position: fixed;
//   bottom: 20px;
//   left: 20px;
// }
// .redes a,
// .btn-mas label {
//   display: block;
//   text-decoration: none;
//   cursor: pointer;
//   color: #fff;
//   width: 55px;
//   height: 55px;
//   line-height: 55px;
//   text-align: center;
//   border-radius: 50%;
//   box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
//   transition: all 500ms ease;
// }
// .redes a:hover {
//   background: #fff;
//   color: crimson;
// }
// .redes a {
//   margin-bottom: -15px;
//   opacity: 0;
//   visibility: hidden;
// }
// #btn-mas:checked ~ .redes a {
//   margin-bottom: 10px;
//   opacity: 1;
//   visibility: visible;
// }
// .btn-mas label {
//   cursor: pointer;
//   background: crimson;
//   font-size: 23px;
// }
// #btn-mas:checked ~ .btn-mas label {
//   transform: rotate(135deg);
//   font-size: 25px;
// }

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: var(--main-color);
  cursor: pointer;
}

.btn:hover {
  letter-spacing: 0.2rem;
}

.header {
  // background: var(--bg);
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo img {
  height: 5rem;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: #fff;
  cursor: pointer;
}
.header .navbar a.logout{
  color: crimson;
}

.header .navbar a:hover {
  color: grey;
  border-bottom: 0.1rem solid grey;
  padding-bottom: 0.5rem;
}



