<app-navbar ></app-navbar>
<section @enterState class="blogs">
      <app-heading [class]="'heading'" [content]="'fashion'" [span]="'like'"></app-heading>
      <app-heading [class]="'headingmini'" [content]="'bienvenido'" [span]="'maxi'"></app-heading>
      <div class="box-container">
        <app-card [img]="'../../../../../assets/imagen-1.jpeg'"></app-card>
        <app-card [img]="'../../../../../assets/imagen-2.jpeg'"></app-card>
        <app-card [img]="'../../../../../assets/imagen-3.jpg'"></app-card>
        <app-card [img]="'../../../../../assets/imagen-4.jpg'"></app-card>
        <app-card [img]="'../../../../../assets/imagen-5.jpeg'"></app-card>
        <app-card [img]="'../../../../../assets/imagen-6.jpeg'"></app-card>
      </div>
    </section>
